[Unit]
Description="Prefect Orion API/UI"

[Service]
Type=simple
User=prefect
WorkingDirectory=/home/prefect/hedging-dataflow
ExecStart=bash ./scripts/start_prefect.sh
Restart=always

[Install]
WantedBy=multi-user.target