[Unit]
Description="Prefect Orion API/UI"

[Service]
Type=simple
User=prefect
WorkingDirectory=/home/prefect
ExecStart=bash ./hedging-dataflow/scripts/start_prefect.sh
Restart=always

[Install]
WantedBy=multi-user.target