[Unit]
Description="Prefect Hedge Data Agent"

[Service]
Type=simple
User=prefect
WorkingDirectory=/home/prefect/hedging-dataflow
ExecStart=bash ./scripts/start_hedge_agent.sh
Restart=always

[Install]
WantedBy=multi-user.target