[Unit]
Description="Prefect Hedge Data Agent"

[Service]
Type=simple
User=prefect
WorkingDirectory=/home/prefect
ExecStart=bash ./hedging-dataflow/scripts/start_hedge_agent.sh
Restart=always

[Install]
WantedBy=multi-user.target